# Header
nav:
  Home: /
  Archives: /archives
  Categories: /category
  Tags: /tag

# favicon
# favicon: /favicon.png
favicon: /images/logo.svg
# logo
logo: /images/logo.svg

# links
links:
  #Github: https://github.com/xbmlz
  Telegram: https://t.me/impiuifu
  RSS: /atom.xml
  # ZhiHu:
  # Twitter:
  # Weibo:

# analytics
google_analytics:
baidu_analytics:

# mathjax
fancybox: true

# mathjax
mathjax: true

# echarts
echarts: true

# busuanzi
busuanzi: true

# mermaid
mermaid:
  enable: true
  # Available themes: default | dark | forest | neutral
  theme: default

# giscus
giscus:
  enable: false
  repo: 
  repo_id: 
  category: 
  category_id: 
  mapping: 



