<footer class="flex flex-col h-40 items-center justify-center text-gray-400 text-sm">
  <!-- busuanzi -->
  <%- partial('_plugins/busuanzi') %>
  <!-- copyright -->
  <div class="flex items-center gap-2">
    <span>© <%= date(new Date(), 'YYYY') %></span>
    <iconify-icon width="18" icon="emojione-monotone:maple-leaf" ></iconify-icon>
  </div>
  <!-- powered by -->


</footer>
